html body {
  font-family: "Raleway", sans-serif;
}
html body .nav a:visited {
  color: black;
}
html body .nav a {
  color: black;
}
html body .nav ul {
  list-style-type: none;
  text-decoration: none !important;
}
.main-container {
  padding: 6px;
  display: grid;
  grid-template-rows: 40px 60px auto 60px;
}
.status-bar {
  grid-template-rows: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-columns: 90px auto 160px;
}
.status-bar_clock {
  grid-column-start: 1;
}

.status-bar_ststem-status {
  grid-column-start: 3;
}
.header-bar {
  grid-template-rows: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 80px auto auto;
  border-bottom: #222222 solid 1px;
  margin-bottom: 7px;
}
.header-bar_title {
  grid-column-start: 1;
  grid-column-end: 1;
  align-self: center;
  justify-self: center;
}
.header-bar_icons {
  grid-column-start: 3;
  grid-column-end: 3;
  padding-right: 20px;
  align-self: center;
  justify-self: center;
  justify-self: end;
}
.header-bar_icons span {
  margin-left: 10px;
}
.nav {
  grid-template-rows: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  vertical-align: baseline;
}
.nav_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav_list-link {
  align-self: center;
  justify-content: center;
}
